
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(32, 32, 32);
}

p{
    margin: 0px;
}
/****************PC NAVBAR******************/

.inv-nav{
    width: 100%;
    height: 0px;
    display: block;
}

#pc-navbar{
    background-color: rgb(33, 31, 31);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
}

#mobile-navbar{
    background-color: rgb(33, 31, 31);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100;
    width: 100%;
    height: 60px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 26px;
    padding-right: 26px;
}

@media(max-width: 1100px){
    #pc-navbar{
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media(max-width: 800px){
    #pc-navbar{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media(max-width: 730px){
    #pc-navbar{
        display: none;
    }
    #mobile-navbar{
        display: flex;
    }
}

#pc-navbar ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

#pc-navbar li{
    color: white;
    font-weight: bold;
    font-size: 22px;
    list-style-type: none;
    cursor: pointer;
}

#menu{
    filter: invert(1);
    height: 45px;
    cursor: pointer;
}


/*******************LOGO NAVBAR*********************/
#logo-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#logo1{
    font-size: 25px;
    font-weight: bold;
    color: white;
}

#logo2{
    font-size: 25px;
    font-weight: bold;
    color: rgb(2, 99, 156);
}

/***********************HERO***************************/


.logoc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lgo{
    height: 45px;
}

.title{
    color: white;
    font-size: 40px;
}

#pc-hero{
    display: block;
}

#mobile-hero{
    display: none;
}

#hero{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: center;
    gap: 13%;

    background: url(Images/bg3.png), url(Images/back.png), url(Images/rea1.jpg);/*, url(Images/bg-bottom-hero.png);*/
    background-position: center bottom -1px, center, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100% 20%, cover, cover;
}

@media(min-width: 1100px){
    #hero{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media(max-width: 750px){
    #hero{
    background: url(Images/bg3.png), url(Images/back.png), url(Images/rea1.jpg);/*, url(Images/bg-bottom-hero.png);*/
    background-position: center bottom -1px, left, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100% 20%, 150% 100%, cover;
}
}

.hero-el{
    width: 40%;
}

.text-hero{
    width: 40%;
}

#text-hero{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#video-container{
    width: 40%;
    height: auto;
    border-radius: 20px;
}

#video{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

@media(min-width: 1100px){
    #video{
    width: 100%;
    height: auto;
}
}

.hero-text{
    color: white;
    font-weight: bold;
}

#text-hero1{
    font-size: 45px;
}

#text-hero2{
    font-size: 25px;
}

#flex{
    display: flex;
    align-items: center;
    gap: 15px;
    min-height: auto;
}

.purple{
    color: rgb(2, 99, 156);
}

#btn-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%
}

.btn{
    width: 180px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
}

#btn1, #btn3{
    background-color: rgb(2, 99, 156);
    border: none;
    color: white;
}

#btn2, #btn4{
    background-color: transparent;
    color: white;
    border: 3px solid rgb(2, 99, 156);
}

#btn2:hover{
    background-color: rgb(2, 99, 156);
    border: 3px solid rgb(2, 99, 156);
    transition: 0.5s;
}

#btn4:hover{
    background-color: rgb(2, 99, 156);
    border: 3px solid rgb(2, 99, 156);
    transition: 0.5s;
}

@media(max-width: 1100px){
    #hero{
        gap: 70px;
    }
}

@media(max-width: 940px){
    #text-hero1{
        font-size: 37px;
    }
    #text-hero2{
        font-size: 22px;
    }
    .btn{
        font-size: 17px;
        padding: 10px 10px;
        width: 100%;
    }
}

@media(max-width: 750px){
    #hero{
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    #video-container{
    width: 90%;
    height: auto;
    }

    #btn-container{
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .hero-el{
        width: auto;
    }

    .inv-nav{
        height: 30px;
    }
}

@media(max-width: 500px){
    #text-hero1{
        font-size: 32px;
    }
    #text-hero2{
        font-size: 20px;
    }
}

@media(600px < width < 750px){
    #hero{
        padding-top: 20px;
    }
    #btn-container{
        flex-direction: row;
    }
    #video-container{
    width: 70%;
    height: auto;
    }
}

@media(max-width: 600px){
    #video-container{
    width: 90%;
    height: auto;
    }

    #pc-hero{
    display: none;
    }

    #mobile-hero{
    display: block;
    }
}

@media(500px < width < 600px){
    .inv-nav{
        margin-bottom: 20px;
    }
    #video-container{
        width: 80%;
    }
}

/*****************  DROPDOWN  ********************/

#dropdown-container{
    background-color: rgb(32, 32, 32);
    color: white;
    font-weight: bold;
    font-size: 22px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 0px;
    top: -150px; /*-130px*/
    z-index: 7;
    border-top: 2px solid white;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.4s;
}

#dropdown-container.active{
    top: 60px;
    transition: 0.4s;
}

#dropdown-container div{
    display: flex;
    justify-content: center;
    padding: 5px;
}



.wrapper{
    margin: 0px;
    width: 95%;
    max-width: 1500px;
    gap: 100px;
    margin-inline: auto;
    position: relative;
    height: 104px;
    overflow: hidden;
}

@keyframes scrollLeft {
    to{
        left: -200px;
    }
}

.item{
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 22px;
    background-color: transparent;
    border-radius: 5px;
    position: absolute;
    left: calc(200px * 8);
    animation: scrollLeft 30s linear infinite;
}

@media(max-width: 830px){
    .item{
        width: 150px;
        left: calc(150px * 8);
    }
}

@media(max-width: 500px){
    .item{
        font-size: 20px;
        width: 120px;
        left: calc(120px * 8);
    }
}


.item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}



.nv-btn{
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.nv-btn span{
    font-size:22px;
}

/****************  Languages  *********************/

#cont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#languages{
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}

#wrapper #carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) -12px);
    overflow: hidden;
}

#wrapper{
    max-width: 1180px;
    width: 100%;
    position: relative;
    padding: 0 20px;
}

@media(max-width: 1200px){
    #wrapper{
        max-width: 890px;
    }
    #cont{
        gap: 0px;
    }
}

@media(max-width: 900px){
    #wrapper{
        max-width: 610px;
    }
}

@media(max-width: 620px){
    #wrapper{
        max-width: 325px;
    }
}

#wrapper i{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(2, 99, 156);
    font-size: 23px;
    text-align: center;
    position: absolute;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
}

#wrapper i:first-child{
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

#wrapper i:last-child{
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.card{
    padding: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

#carousel .card{
    border: 3px solid rgb(2, 99, 156);
    border-radius: 17px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 460px;
    width: 270px;
    gap: 10px;
}

#carousel{
    padding: 0px;
}

#carousel.dragging {
  cursor: grabbing;
}

.img-container{
    width: 150px;
    height: 150px;
}

.imagess{
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

#wrapper button{
    border: 3px solid rgb(2, 99, 156);
    color: white;
    padding: 5px 15px;
    background-color: transparent;
    font-weight: bold;
    font-size: 18px;
    border-radius: 50px;
    width: 110px;
    cursor: pointer;
}

.description{
    text-align: center;
}

@media(max-width: 450px){
    .description{
        font-size: 15px;
    }
    .card{
        padding: 15px;
        max-width: 270px;
    }
    #wrapper{
        transform: scale(0.93)
    }
}


/***************  p  *******************/

.p{
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    width: auto;
}

/***************  My Projects  *******************/
/*
#projects-title{
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    text-align: center;
}

@media(min-width: 600px){
    #projects-title{
        margin-top: 40px;
    }
}

.all-project{
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background: red;
}

#projects-container{
    display: flex;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

@media(max-width: 700px){
    #projects-container{
        padding-left: 20px;
        padding-right: 20px;
    }
}

.project-container{
    max-width: 1100px;
    min-width: 100%;
    height: auto;
    min-height: 100px;
    border: 3px solid rgb(147, 0, 147);
    border-radius: 17px;
}

.project-title{
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-left: 35px;
}
*/

#all-projects-container{
    height: auto;
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#project-title{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

#content-pr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    gap: 10px;
}

@media(max-width: 700px){
    #content-pr{
        padding-left: 3%;
        padding-right: 3%;
    }
}

.els{
    max-width: 1100px;
    width: 100%;
}

.tit{
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-left: 7%;
}

.conn{
    border-radius: 17px;
    border: 3px solid rgb(2, 99, 156);
    padding: 15px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.text-cont{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.text-cont button{
    border: 3px solid rgb(2, 99, 156);
    color: white;
    padding: 5px 15px;
    background-color: transparent;
    font-weight: bold;
    font-size: 18px;
    border-radius: 50px;
    width: auto;
    cursor: pointer;
}

.site-des{
    font-size: 17px;
}

.des-title{
    font-size: 25px;
    font-style: italic;
    text-decoration: underline;
    color: rgb(2, 99, 156);
}

.width-p{
    display: flex;
    justify-content: center;
    align-items: right;
    flex-direction: column;
    gap: 10px;
}

.img-cont{
    border-radius: 15px;
    width: 40%;
    height: 200px;
    background: transparent; /* **** / RED / **** */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;

    /*overflow: hidden;*/
}

.img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.img-cont i{
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(2, 99, 156);
    font-size: 23px;
    text-align: center;
    position: absolute;
    cursor: pointer;

    z-index: 2;
}

@media(max-width: 500px){
    .img-cont i{
        height: 40px;
        width: 40px;
    }
}

.img-cont i:first-child{
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
}

.img-cont i:last-child{
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
}

@media(max-width: 670px){
    .conn{
        flex-direction: column;
        gap: 20px;
    }
    .img-cont{
        width: 100%;
        max-width: 350px;
    }
    .width-p{
        width: 100%;
    }
    .text-cont{
        width: 100%;
    }
}

@media(450px < width < 670px){
    .text-cont{
        padding: 10px;
    }
}

.soon-div{
    position: absolute;
    background-color: rgb(18, 17, 17);
    padding: 0px;
    border-radius: 15px;
}

.soon{
    text-align: center;
    font-size: 300%;
}

#ProfinexImg {
  transition: opacity 0.4s ease;
  opacity: 1;
}

#ePlantsImg {
  transition: opacity 0.4s ease;
  opacity: 1;
}

.aboutme-cont, .aboutme-cont2{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.aboutme-cont2{
    display: none;
    gap: 0px;
}

.aboutme-cont p, .aboutme-cont2 p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.text-about, .text-about2{
    border-radius: 15px;
    border: 3px solid rgb(2, 99, 156);
    padding: 15px;
    max-width: 1100px;
}

.text-about p, .text-about2 p{
    font-size: 15px;
}

.aboutme-hov{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.aboutme-hov2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutme-img{
    width: 80%;
    height: 100%;
    border-radius: 15px;
    /*
    background-image: url(Images/temp.png);
    background-size: cover;*/
}

.aboutme-img img{
    width: 100%;
    height: 100%;
}

  @media(min-width: 950px){
    .aboutme-img img{
        width: 70%;
        height: 70%;
        margin-left: 5%;
}
}

#sp{
    margin-top: 5%;
    margin-bottom: 5%;
}

#spec{
    max-width: 1100px;
}
/*
.aboutme-cont{
    display: none;
}

.aboutme-cont2{
    display: block;
    
}*/

@media(max-width: 680px){
    .aboutme-cont{
        display: none;
    }
    .aboutme-cont2{
        display: flex;
    }
}


















/***************  Contact Me  *******************/

#all-contact-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 3%;
}

#contact-title{
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-top: 17px;
    text-align: center;
}

@media(min-width: 600px){
    #contact-title{
        margin-top: 20px;
    }
}

#contact-container{
    max-width: 1100px;
    border-radius: 20px;
    border: 3px solid rgb(2, 99, 156);
    width: 100%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    gap: 500px;
}

@media(max-width: 480px){
    #contact-container{
         padding: 5%;
    }
}

#contact-container label{
    color: white;
    font-weight: bold;
}

#contact-container input{
    border-radius: 10px;
    border: none;
}

#contact-container input:focus{
    outline: none;
    border: 3px solid white;
    transition: 0.1s;
}

#contact-container textarea{
    border-radius: 10px;
    width: 100%;
    margin-top: 17px;
    height: 400px;
    padding: 5px;
}

#contact-container textarea:focus{
    outline: none;
    border: 3px solid white;
    transition: 0.1s;
}

#submit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#submit{
    background: rgb(2, 99, 156);
    border: none;
    font-weight: bold;
    color: white;
    font-size: 18px;
    padding: 7px 22px;
    border-radius: 999px;
    cursor: pointer;
}

.name{
    margin-bottom: 7px;
}

@media( 500px < width < 1200px){
    #contact-container{
        max-width: 850px;
    }
}

@media( 600px < width < 800px){
    #contact-container{
        max-width: 600px;
    }
}

@media(min-width: 800px) {
    #all-contact-container{
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10%;
        padding-right: 10%;
    }
}
/*******************/
.new-proj{
    width: 100%;
    height: 200px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
}

.new-proj p{
    color: white;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
}

.cont-proj{
    border-radius: 15px;
    border: 3px solid rgb(2, 99, 156);
    padding: 10px;
    width: 100%;
}

.cont-proj p{
    color: rgb(224, 5, 5);
    font-size: 20px;
}
/*******************************************/

.comming{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


/*****************  Footer  *******************/


footer{
    background-color: rgb(2, 99, 156);
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 17px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 22px;
}

@media(max-width: 380px){
    footer{
        padding: 35px;
    }
}

/*************** Check Here **************/



.check-here{
    color: white;
}























/**********************************/


input{
    width: 200px;
}


/*
#btn3{
    background-color: purple;
    border-color: purple;
    color: white;
}
*/


/*            Animation           

.hidden {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
  */
/*
  .hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(3px);
    transform: translateY(30px);
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0)
}

@media(prefers-reduced-motion){
    .hidden {
        transition: none;
    }
}*/